ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
ul li {
  margin: 10px 15px;
}
.nav__link {
  text-decoration: none;
  color: black;
}
.cgmenu{
    display: none;
}
.afterClick {
  display: none;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: white;
  border: 1px solid black;
  margin-top: 50px;
}
@media only screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }
  .cgclose{
    margin: 5px 10px;
    font-size: 1.3rem;
  }
  .nav__list__close{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .cgmenu {
    display: block;
    margin-right: 20px;
    font-size: 1.3rem;
  }
}
